.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header__container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font-family);
    @include font(700, 26px, 1.2);
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
    margin-right: 93px;
}

.logo__accent {
    color: var(--accent-color);
}

.logo-footer__link {
    @include font(700, 26px, 1.2);
    font-family: var(--secondary-font-family);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}