.adress-container {
    flex-grow: 1;
}

.address-footer {
    margin-top: 20px;
    font-style: normal;
}

.adress-link {
    @include font (400, 14px, 1.7);
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    color: #FFFFFF;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

