.caption-studia {
    margin-bottom: 50px;
}

.caption-studia,
.caption {
    @include font(700, 36px, 1.2);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}
.caption {
    margin-bottom: 50px;
}
