.icon-contact{
    margin-right: 10px;
    fill: var(--primary-text-color-theme-light);
    transition: fill 250ms var(--timing-function);

    .phone-number-link:hover &,
    .phone-number-link:focus & {
        fill: var(--accent-color);
    }

    .mail-link:hover &,
    .mail-link:focus & {
            fill: var(--accent-color);
    }
}