.navigation {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    transition: color 250ms var(--timing-function);
    position: relative;

    &:hover,
    &:focus {
        color: var(--accent-color);
     }
}


.menu-list {
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}